In [2]:
import pandas as pd

In [6]:
a = pd.DataFrame({"Name":["Abir","Trijal",None,"Kanishka"],"Gender":["M","M","M",None],"Age":[21,None,22,23]})
print(a)

       Name Gender   Age
0      Abir      M  21.0
1    Trijal      M   NaN
2      None      M  22.0
3  Kanishka   None  23.0

In [17]:
print(a)
print(a.ffill())
# print(a.fillna(obj.ffill()))
print(a.bfill())
# print(a.fillna(method="bfill"))

       Name Gender   Age
0      Abir      M  21.0
1    Trijal      M   NaN
2      None      M  22.0
3  Kanishka   None  23.0
       Name Gender   Age
0      Abir      M  21.0
1    Trijal      M  21.0
2    Trijal      M  22.0
3  Kanishka      M  23.0
       Name Gender   Age
0      Abir      M  21.0
1    Trijal      M  22.0
2  Kanishka      M  22.0
3  Kanishka   None  23.0

In [4]:
a[["Name"]]

       Name
0      Abir
1    Trijal
2  Kanishka

In [5]:
a["Name"]

0        Abir
1      Trijal
2    Kanishka
Name: Name, dtype: object

In [6]:
a[["Name","Age"]]

       Name  Age
0      Abir   21
1    Trijal   22
2  Kanishka   23

In [7]:
a["Class"]:["UK","UK","UK"]
print(a)

       Name Gender  Age
0      Abir      M   21
1    Trijal      M   22
2  Kanishka      M   23

In [8]:
a["State"]=["AS","WB","PB"]
print(a)

       Name Gender  Age State
0      Abir      M   21    AS
1    Trijal      M   22    WB
2  Kanishka      M   23    PB

In [9]:
a.insert(2, "CGPA", [10, 10, 10])

In [10]:
print(a)

       Name Gender  CGPA  Age State
0      Abir      M    10   21    AS
1    Trijal      M    10   22    WB
2  Kanishka      M    10   23    PB

In [11]:
a.dtypes

Name      object
Gender    object
CGPA       int64
Age        int64
State     object
dtype: object

In [12]:
a.keys()

Index(['Name', 'Gender', 'CGPA', 'Age', 'State'], dtype='object')

In [13]:
a.index

RangeIndex(start=0, stop=3, step=1)

In [14]:
a.columns

Index(['Name', 'Gender', 'CGPA', 'Age', 'State'], dtype='object')

In [15]:
a["Kuch Bhi"]=["ese","wese","kese"]
print(a)

       Name Gender  CGPA  Age State Kuch Bhi
0      Abir      M    10   21    AS      ese
1    Trijal      M    10   22    WB     wese
2  Kanishka      M    10   23    PB     kese

In [16]:
a.pop("Kuch Bhi")

0     ese
1    wese
2    kese
Name: Kuch Bhi, dtype: object

In [17]:
print(a)

       Name Gender  CGPA  Age State
0      Abir      M    10   21    AS
1    Trijal      M    10   22    WB
2  Kanishka      M    10   23    PB

In [18]:
a.to_csv("K23Pandas.csv")

In [19]:
read = pd.read_csv("K23Pandas.csv")
type(read)
print(read)

   Unnamed: 0      Name Gender  CGPA  Age State
0           0      Abir      M    10   21    AS
1           1    Trijal      M    10   22    WB
2           2  Kanishka      M    10   23    PB

In [3]:
b = pd.DataFrame({"Name":["AB","TJ","KA","AM"],"Age":[20,21,22,23],"Add":["AS","WB","PB","PB"]},index=["A","B","C","D"])
print(b)

  Name  Age Add
A   AB   20  AS
B   TJ   21  WB
C   KA   22  PB
D   AM   23  PB

In [21]:
c = pd.read_csv("C:\\Users\ABIR AKASH\Downloads\check.csv")
print(c)

   Sl. No.           State     District  \
0        1       Jharkhand       Ranchi
1        2       Jharkhand       Ranchi
2        3       Jharkhand       Ranchi
3        4       Jharkhand       Ranchi
4        5       Jharkhand       Ranchi
5        6     West Bengal      Asansol
6        7       Jharkhand      Dhanbad
7        8       Jharkhand      Dhanbad
8        9       Jharkhand       Ranchi
9       10  Madhya Pradesh       Nagpur
10      11  Madhya Pradesh       Nagpur
11      12  Madhya Pradesh       Nagpur
12      13    Chhattisgarh     Bilaspur
13      14          Odisha  Bhubaneswar
14      15          Odisha  Bhubaneswar
15   Total           Total        Total

                                        Thematic Head  \
0        Point I, Schedule VII - Promoting Healthcare
1        Point I, Schedule VII - Promoting Healthcare
2        Point I, Schedule VII - Promoting Healthcare
3   Point II, Schedule VII - Promoting Employment ...
4        Point I, Schedule VII - Promoting Sanitation
5        Point I, Schedule VII - Promoting Sanitation
6        Point I, Schedule VII - Promoting Sanitation
7        Point I, Schedule VII - Promoting healthcare
8        Point I, Schedule VII - Promoting Sanitation
9        Point I, Schedule VII - Promoting Healthcare
10  Point II, Schedule VII - Promoting Employment ...
11       Point I, Schedule VII - Promoting Sanitation
12       Point I, Schedule VII - Promoting Sanitation
13       Point I, Schedule VII - Promoting Healthcare
14       Point I, Schedule VII - Promoting Sanitation
15                                              Total

                                   Project/Activities  \
0   Multiyear FY 2023-25 - Extending support to so...
1   Multiyear project FY 2023 - 27 - Badhte Kadam ...
2   Multiyear FY 2023-25 - Supporting for improvin...
3   Multiyear FY 2023-25 - To conduct job oriented...
4                               Swacchata Action Plan
5                               Swacchata Action Plan
6                               Swacchata Action Plan
7   DoP - Medical Equipment Assistant Skill Traini...
8                               Swacchata Action Plan
9   Developing Modular Pathology Lab at RST Cancer...
10  Multiyear 2023-25 - Job oriented Skill Develop...
11                              Swacchata Action Plan
12                              Swacchata Action Plan
13  Multiyear 2023-25 - Aaharshaala Provision of C...
14                              Swacchata Action Plan
15                                              Total

    Expenditure in 2024-25 (In lakhs)
0                               62.04
1                               13.00
2                               25.87
3                               68.00
4                                4.29
5                                1.31
6                                0.35
7                                1.24
8                                0.30
9                                6.81
10                              71.40
11                               0.99
12                               1.40
13                              16.31
14                               3.56
15                             276.87

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\ABIR AKASH\AppData\Local\Temp\ipykernel_8924\658337483.py:1: SyntaxWarning: invalid escape sequence '\A'
  c = pd.read_csv("C:\\Users\ABIR AKASH\Downloads\check.csv")

In [23]:
c.shape

(16, 6)

In [24]:
type(c)

pandas.core.frame.DataFrame

In [25]:
c.columns

Index(['Sl. No.', 'State', 'District', 'Thematic Head', 'Project/Activities',
       'Expenditure in 2024-25 (In lakhs)'],
      dtype='object')

In [28]:
c.head()

,Sl. No.,State,District,Thematic Head,Project/Activities,Expenditure in 2024-25 (In lakhs)
0,1,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Healthcare",Multiyear FY 2023-25 - Extending support to so...,62.04
1,2,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Healthcare",Multiyear project FY 2023 - 27 - Badhte Kadam ...,13.00
2,3,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Healthcare",Multiyear FY 2023-25 - Supporting for improvin...,25.87
3,4,Jharkhand,Ranchi,"Point II, Schedule VII - Promoting Employment ...",Multiyear FY 2023-25 - To conduct job oriented...,68.00
4,5,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,4.29

In [29]:
c.head(10)

,Sl. No.,State,District,Thematic Head,Project/Activities,Expenditure in 2024-25 (In lakhs)
0,1,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Healthcare",Multiyear FY 2023-25 - Extending support to so...,62.04
1,2,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Healthcare",Multiyear project FY 2023 - 27 - Badhte Kadam ...,13.00
2,3,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Healthcare",Multiyear FY 2023-25 - Supporting for improvin...,25.87
3,4,Jharkhand,Ranchi,"Point II, Schedule VII - Promoting Employment ...",Multiyear FY 2023-25 - To conduct job oriented...,68.00
4,5,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,4.29
5,6,West Bengal,Asansol,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,1.31
6,7,Jharkhand,Dhanbad,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,0.35
7,8,Jharkhand,Dhanbad,"Point I, Schedule VII - Promoting healthcare",DoP - Medical Equipment Assistant Skill Traini...,1.24
8,9,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,0.30
9,10,Madhya Pradesh,Nagpur,"Point I, Schedule VII - Promoting Healthcare",Developing Modular Pathology Lab at RST Cancer...,6.81

In [30]:
c.tail()

,Sl. No.,State,District,Thematic Head,Project/Activities,Expenditure in 2024-25 (In lakhs)
11,12,Madhya Pradesh,Nagpur,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,0.99
12,13,Chhattisgarh,Bilaspur,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,1.40
13,14,Odisha,Bhubaneswar,"Point I, Schedule VII - Promoting Healthcare",Multiyear 2023-25 - Aaharshaala Provision of C...,16.31
14,15,Odisha,Bhubaneswar,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,3.56
15,Total,Total,Total,Total,Total,276.87

In [31]:
c.tail(10)

,Sl. No.,State,District,Thematic Head,Project/Activities,Expenditure in 2024-25 (In lakhs)
6,7,Jharkhand,Dhanbad,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,0.35
7,8,Jharkhand,Dhanbad,"Point I, Schedule VII - Promoting healthcare",DoP - Medical Equipment Assistant Skill Traini...,1.24
8,9,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,0.30
9,10,Madhya Pradesh,Nagpur,"Point I, Schedule VII - Promoting Healthcare",Developing Modular Pathology Lab at RST Cancer...,6.81
10,11,Madhya Pradesh,Nagpur,"Point II, Schedule VII - Promoting Employment ...",Multiyear 2023-25 - Job oriented Skill Develop...,71.40
11,12,Madhya Pradesh,Nagpur,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,0.99
12,13,Chhattisgarh,Bilaspur,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,1.40
13,14,Odisha,Bhubaneswar,"Point I, Schedule VII - Promoting Healthcare",Multiyear 2023-25 - Aaharshaala Provision of C...,16.31
14,15,Odisha,Bhubaneswar,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,3.56
15,Total,Total,Total,Total,Total,276.87