In [2]:
import pandas as pd

In [3]:
a = pd.DataFrame({"Name":["Abir","Trijal",None,"Kanishka"],"Gender":["M","M","F",None],"Age":[21,None,22,23]})
print(a)

       Name Gender   Age
0      Abir      M  21.0
1    Trijal      M   NaN
2      None      F  22.0
3  Kanishka   None  23.0

In [4]:
print(a)
print(a.ffill())
# print(a.fillna(obj.ffill()))
print(a.bfill())
# print(a.fillna(method="bfill"))

       Name Gender   Age
0      Abir      M  21.0
1    Trijal      M   NaN
2      None      F  22.0
3  Kanishka   None  23.0
       Name Gender   Age
0      Abir      M  21.0
1    Trijal      M  21.0
2    Trijal      F  22.0
3  Kanishka      F  23.0
       Name Gender   Age
0      Abir      M  21.0
1    Trijal      M  22.0
2  Kanishka      F  22.0
3  Kanishka   None  23.0

In [5]:
a[["Name"]]

       Name
0      Abir
1    Trijal
2      None
3  Kanishka

In [6]:
a["Name"]

0        Abir
1      Trijal
2        None
3    Kanishka
Name: Name, dtype: object

In [7]:
a[["Name","Age"]]

       Name   Age
0      Abir  21.0
1    Trijal   NaN
2      None  22.0
3  Kanishka  23.0

In [8]:
a["Class"]:["UK","UK","UK"]
print(a)

       Name Gender   Age
0      Abir      M  21.0
1    Trijal      M   NaN
2      None      F  22.0
3  Kanishka   None  23.0

In [9]:
a["State"]=["AS","WB","PB"]
print(a)

ValueError: Length of values (3) does not match length of index (4)

In [ ]:
a.insert(2, "CGPA", [10, 10, 10])

In [ ]:
print(a)

In [ ]:
a.dtypes

In [10]:
a.keys()

Index(['Name', 'Gender', 'Age'], dtype='object')

In [11]:
a.index

RangeIndex(start=0, stop=4, step=1)

In [12]:
a.columns

Index(['Name', 'Gender', 'Age'], dtype='object')

In [13]:
a["Kuch Bhi"]=["ese","wese","kese"]
print(a)

ValueError: Length of values (3) does not match length of index (4)

In [14]:
a.pop("Kuch Bhi")

KeyError: 'Kuch Bhi'

In [15]:
print(a)

       Name Gender   Age
0      Abir      M  21.0
1    Trijal      M   NaN
2      None      F  22.0
3  Kanishka   None  23.0

In [16]:
a.to_csv("K23Pandas.csv")

In [17]:
read = pd.read_csv("K23Pandas.csv")
type(read)
print(read)

   Unnamed: 0      Name Gender   Age
0           0      Abir      M  21.0
1           1    Trijal      M   NaN
2           2       NaN      F  22.0
3           3  Kanishka    NaN  23.0

In [18]:
b = pd.DataFrame({"Name":["AB","TJ","KA","AM"],"Age":[20,21,22,23],"Add":["AS","WB","PB","PB"]},index=["A","B","C","D"])
print(b)

  Name  Age Add
A   AB   20  AS
B   TJ   21  WB
C   KA   22  PB
D   AM   23  PB

In [19]:
c = pd.read_csv("C:\\Users\\ABIR AKASH\\Downloads\\check.csv")
print(c)
# c = pd.read_csv("C:\\Users\\ABIR AKASH\\Downloads\\check.csv",encoding="latin1")

   Sl. No.           State     District  \
0        1       Jharkhand       Ranchi
1        2       Jharkhand       Ranchi
2        3       Jharkhand       Ranchi
3        4       Jharkhand       Ranchi
4        5       Jharkhand       Ranchi
5        6     West Bengal      Asansol
6        7       Jharkhand      Dhanbad
7        8       Jharkhand      Dhanbad
8        9       Jharkhand       Ranchi
9       10  Madhya Pradesh       Nagpur
10      11  Madhya Pradesh       Nagpur
11      12  Madhya Pradesh       Nagpur
12      13    Chhattisgarh     Bilaspur
13      14          Odisha  Bhubaneswar
14      15          Odisha  Bhubaneswar
15   Total           Total        Total

                                        Thematic Head  \
0        Point I, Schedule VII - Promoting Healthcare
1        Point I, Schedule VII - Promoting Healthcare
2        Point I, Schedule VII - Promoting Healthcare
3   Point II, Schedule VII - Promoting Employment ...
4        Point I, Schedule VII - Promoting Sanitation
5        Point I, Schedule VII - Promoting Sanitation
6        Point I, Schedule VII - Promoting Sanitation
7        Point I, Schedule VII - Promoting healthcare
8        Point I, Schedule VII - Promoting Sanitation
9        Point I, Schedule VII - Promoting Healthcare
10  Point II, Schedule VII - Promoting Employment ...
11       Point I, Schedule VII - Promoting Sanitation
12       Point I, Schedule VII - Promoting Sanitation
13       Point I, Schedule VII - Promoting Healthcare
14       Point I, Schedule VII - Promoting Sanitation
15                                              Total

                                   Project/Activities  \
0   Multiyear FY 2023-25 - Extending support to so...
1   Multiyear project FY 2023 - 27 - Badhte Kadam ...
2   Multiyear FY 2023-25 - Supporting for improvin...
3   Multiyear FY 2023-25 - To conduct job oriented...
4                               Swacchata Action Plan
5                               Swacchata Action Plan
6                               Swacchata Action Plan
7   DoP - Medical Equipment Assistant Skill Traini...
8                               Swacchata Action Plan
9   Developing Modular Pathology Lab at RST Cancer...
10  Multiyear 2023-25 - Job oriented Skill Develop...
11                              Swacchata Action Plan
12                              Swacchata Action Plan
13  Multiyear 2023-25 - Aaharshaala Provision of C...
14                              Swacchata Action Plan
15                                              Total

    Expenditure in 2024-25 (In lakhs)
0                               62.04
1                               13.00
2                               25.87
3                               68.00
4                                4.29
5                                1.31
6                                0.35
7                                1.24
8                                0.30
9                                6.81
10                              71.40
11                               0.99
12                               1.40
13                              16.31
14                               3.56
15                             276.87

In [20]:
c.shape

(16, 6)

In [21]:
type(c)

pandas.core.frame.DataFrame

In [22]:
c.columns

Index(['Sl. No.', 'State', 'District', 'Thematic Head', 'Project/Activities',
       'Expenditure in 2024-25 (In lakhs)'],
      dtype='object')

In [23]:
c.head()

,Sl. No.,State,District,Thematic Head,Project/Activities,Expenditure in 2024-25 (In lakhs)
0,1,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Healthcare",Multiyear FY 2023-25 - Extending support to so...,62.04
1,2,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Healthcare",Multiyear project FY 2023 - 27 - Badhte Kadam ...,13.00
2,3,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Healthcare",Multiyear FY 2023-25 - Supporting for improvin...,25.87
3,4,Jharkhand,Ranchi,"Point II, Schedule VII - Promoting Employment ...",Multiyear FY 2023-25 - To conduct job oriented...,68.00
4,5,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,4.29

In [24]:
c.head(10)

,Sl. No.,State,District,Thematic Head,Project/Activities,Expenditure in 2024-25 (In lakhs)
0,1,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Healthcare",Multiyear FY 2023-25 - Extending support to so...,62.04
1,2,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Healthcare",Multiyear project FY 2023 - 27 - Badhte Kadam ...,13.00
2,3,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Healthcare",Multiyear FY 2023-25 - Supporting for improvin...,25.87
3,4,Jharkhand,Ranchi,"Point II, Schedule VII - Promoting Employment ...",Multiyear FY 2023-25 - To conduct job oriented...,68.00
4,5,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,4.29
5,6,West Bengal,Asansol,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,1.31
6,7,Jharkhand,Dhanbad,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,0.35
7,8,Jharkhand,Dhanbad,"Point I, Schedule VII - Promoting healthcare",DoP - Medical Equipment Assistant Skill Traini...,1.24
8,9,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,0.30
9,10,Madhya Pradesh,Nagpur,"Point I, Schedule VII - Promoting Healthcare",Developing Modular Pathology Lab at RST Cancer...,6.81

In [25]:
c.tail()

,Sl. No.,State,District,Thematic Head,Project/Activities,Expenditure in 2024-25 (In lakhs)
11,12,Madhya Pradesh,Nagpur,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,0.99
12,13,Chhattisgarh,Bilaspur,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,1.40
13,14,Odisha,Bhubaneswar,"Point I, Schedule VII - Promoting Healthcare",Multiyear 2023-25 - Aaharshaala Provision of C...,16.31
14,15,Odisha,Bhubaneswar,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,3.56
15,Total,Total,Total,Total,Total,276.87

In [26]:
c.tail(10)

,Sl. No.,State,District,Thematic Head,Project/Activities,Expenditure in 2024-25 (In lakhs)
6,7,Jharkhand,Dhanbad,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,0.35
7,8,Jharkhand,Dhanbad,"Point I, Schedule VII - Promoting healthcare",DoP - Medical Equipment Assistant Skill Traini...,1.24
8,9,Jharkhand,Ranchi,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,0.30
9,10,Madhya Pradesh,Nagpur,"Point I, Schedule VII - Promoting Healthcare",Developing Modular Pathology Lab at RST Cancer...,6.81
10,11,Madhya Pradesh,Nagpur,"Point II, Schedule VII - Promoting Employment ...",Multiyear 2023-25 - Job oriented Skill Develop...,71.40
11,12,Madhya Pradesh,Nagpur,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,0.99
12,13,Chhattisgarh,Bilaspur,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,1.40
13,14,Odisha,Bhubaneswar,"Point I, Schedule VII - Promoting Healthcare",Multiyear 2023-25 - Aaharshaala Provision of C...,16.31
14,15,Odisha,Bhubaneswar,"Point I, Schedule VII - Promoting Sanitation",Swacchata Action Plan,3.56
15,Total,Total,Total,Total,Total,276.87

In [27]:
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 6 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Sl. No.                            16 non-null     object
 1   State                              16 non-null     object
 2   District                           16 non-null     object
 3   Thematic Head                      16 non-null     object
 4   Project/Activities                 16 non-null     object
 5   Expenditure in 2024-25 (In lakhs)  16 non-null     float64
dtypes: float64(1), object(5)
memory usage: 900.0+ bytes

In [28]:
c.isna()

,Sl. No.,State,District,Thematic Head,Project/Activities,Expenditure in 2024-25 (In lakhs)
0,False,False,False,False,False,False
1,False,False,False,False,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,False,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,False,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,False,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,False,False,False,False
15,False,False,False,False,False,False

In [29]:
c.describe()

       Expenditure in 2024-25 (In lakhs)
count                          16.000000
mean                           34.608750
std                            69.403075
min                             0.300000
25%                             1.292500
50%                             5.550000
75%                            34.912500
max                           276.870000